<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>omdb-front</title>
</head>
    <body>
        <div id="app"></div>
        <script>
            var OMDBFinderDataLayer = {
                finderEndpointUrl: '{{ omdbFinderApiEndpoint }}'
            }
        </script>
        <script src="{{ frontAppUrl }}"></script>
    </body>
</html>
